body
{
    background-color: black;
}

h1
{   
    color: white;
    font-size: large;
    text-align: center;
    margin: 5px;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#wadyZalety
{
    color: white;
    /* text-align: center; */
    border: 1px solid yellow;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 6px;
}

#wady
{
    color: white;
    /* text-align: center; */
    border: 1px solid yellow;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 6px;
    border-style: dotted;
}


#zalety
{
    color: white;
    /* text-align: center; */
    border: 1px solid yellow;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 6px;
}
